@charset "utf-8";

/* 레이아웃 */
.top {
	position:relative;
	height:45px;
	display:flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.top .inner {
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.top ul {display:flex;}
.top a {color: #888; font-weight:bold; font-size:14px;}
.top .left {gap:20px;}
.top .left li {position:relative; line-height:1;}
.top .left li ~ li::after {
	content: "";
	position:absolute;
	top:50%;
	left:-10px;
	transform: translateY(-50%);
	height:10px;
	width:1px;
	background: #ccc;
}
.top .education {
	background: url(https://cdn.inflearn.com/infcon/infcon-2023/main-header-gray-inflearn.svg)no-repeat left;
	padding: 0 0 0 25px;
}
.top .infcon a {
	color: #222;
}
.top.is-scroll {
	display: none;
}
.header {
	z-index:999;
	position: relative;
	height: 80px;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	/* background: #fff; */
	background-color: rgba(255,255,255,0.7);
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	border: 1px solid #eee;
}
.header.is-fixed {
	position: fixed;
}
.header .inner {
	display:flex;
	align-items: center;
	justify-content: space-between;
}
.header a {font-weight:bold;}
.header h1 a {
	display:block;
	font-size:17px;
}
.header .btn-apply.end {
	padding: 10px 3rem;
	background: #eee;
	color: rgba(145, 145, 145, 0.938);
	border-radius: 3rem;
	cursor: default;
}
.gnb {
	position:relative;
}


.gnb ul {
	display:flex; 
	/* gap: 30px; */
}
.gnb ul > li {
	/* width:100%; */
}
.gnb ul > li > a {
	display:block;
	padding: 20px;
	width:100%;
	/* background-color: red; */
}
.gnb .select > a {
	position:relative;
}
.gnb .select > a::after {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #222;
	border-right: 2px solid #222;
	transform: rotate(135deg);
	transition: all 0.3s;
	vertical-align: 3px;
	margin: 0 0 0 9px;
}
.gnb .dropdown {
	display:none;
	padding: 5px;
	position: absolute;
	left: 50%;
	top: 50px;
	width: 150px;
	flex-direction: column;
	margin-left: -72px;
	gap: 0;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	animation: dropdownAni 0.5s ease;
}
.gnb .dropdown::after {
	content: "";
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: 8px;
	height: 8px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	transform: rotate(-45deg);
	background: #fff;
}
@keyframes dropdownAni {
	0% {opacity:0;}
	100% {opacity:1;}
}
.gnb .select:hover .dropdown {
	display:block;
	/* opacity:1; */
}
.gnb .dropdown li {
	background: #fff;
}
.gnb .dropdown li:hover {
	background: #eee;
}
.gnb .dropdown a {
	display:block;
	padding: 10px;
	font-weight: normal;
}

.footer {
	z-index: 999;
	position: relative;
	padding: 3rem 0;
	text-align: left;
	background: #fff;
	border-top: 1px solid #eee;
}
.footer::before {
	z-index:-1;
	content: "";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: #fff;
}

.footer__nav ul {
	display:flex;
	gap: 2rem;
}
.footer__nav ul li {}
.footer__nav ul li a {
	font-weight:bold;
	font-size:13px;
}
.footer__nav .cs a {
	color: rgb(0, 149, 235);
}
.footer__info {
	padding: 10px 0 0;
	font-size:12px;
	color: #888;
	line-height:1.3;
}
.footer__info p {
	padding: 10px 0 0;
}

@media (max-width:480px) {

	.gnb {
		display: none;
		position: absolute;
		background: var(--color-white);
		top: 0;
		left: 0;
		width: 100%;
		top: 101%;
	}
	.gnb.is-show {
		display:block;
	}
	.gnb ul {
		padding: 0 2rem 2.5rem;
		flex-direction: column;
	}
	.gnb ul > li > a {
		font-size: 18px;
	}
	.gnb ul > li > a:hover {
		color: var(--color-blue);
	}
	.gnb .dropdown {
    display: none;
    padding: 5px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    flex-direction: column;
    margin-left: 0;
    gap: 0;
    border: none;
    border-radius: 10px;
    animation: dropdownAni 0s ease;
	}
	.gnb .dropdown::after {
		display: none;
	}
	.gnb .dropdown a {
		font-size: 18px;
	}

	.gnb .select:hover .dropdown {
		display:none;
		/* opacity:1; */
	}
	.gnb .dropdown li:hover {
		background: #fff;
	}

	.header .gnb .select > a.is-active::after {
    transform: rotate(-45deg);
		vertical-align: -1px;
	}
	.header .gnb .dropdown.is-show {
		display:block;
	}

	/* 모바일 메뉴 */
	h1 {
		display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
	}
	.hamburger-menu {
		position: relative;
		width:30px;
		height:30px;
		background: #fff;
		border:none;
	}
	.hamburger-menu:hover {
		background: #eee;
	}
	.hamburger-menu span {
		position: absolute;
		left:50%;
		top: 0;
		transform: translateX(-50%);
		width:50%;
		height:1px;
		background: #777;
	}
	.hamburger-menu span:nth-child(1) {
		top: 30%;
	}
	.hamburger-menu span:nth-child(2) {
		top: 50%;
	}
	.hamburger-menu span:nth-child(3) {
		top: 70%;
	}

	.hamburger-menu.is-active span:nth-child(1) {
		display: none;
	}
	.hamburger-menu.is-active span:nth-child(2) {
		transform: translateX(-50%) rotate(45deg);
		top: 50%;
		
	}
	.hamburger-menu.is-active span:nth-child(3) {
		top: 52%;
		transform: translateX(-50%) rotate(-45deg);
	}


	.footer {
    padding: 3rem 0 7rem;
	}

	.footer__info {
		text-align: center;
		line-height: 1.5;
	}

	/* 버튼 */
	.header .btn-apply.end {
		width: 112px;
		padding: 10px 3rem;
		background: #eee;
		color: rgba(145, 145, 145, 0.938);
		border-radius: 30px;
		cursor: default;
		text-align: center;
	}
}
