@charset "utf-8";

.footer {}
.footer .inner {
	margin: 0 auto;
	width: 90%;
}

.footer__top {
	margin: 6rem 0 0;
	border-top: 1px solid #ccc;
}
.footer__top ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin: 0 auto;
	padding: 0 6rem;
	height: 15rem;
	/* width: 800px; */
	text-align: center;
}
.footer__top li {
	width:100%;
}
.footer__top a {
	display: block;
	font-size: 2rem;
	background: url(../../images/ico_footer_call_01.png)no-repeat top;
	padding: 46px 0 0px 0;
}
.footer__top li:nth-child(2) a {
	background-image: url(../../images/ico_footer_call_02.png);
}
.footer__top li:nth-child(3) a {
	background-image: url(../../images/ico_footer_call_03.png);
}
.footer__top li:nth-child(4) a {
	background-image: url(../../images/ico_footer_call_04.png);
}
.footer__mid {
	background: #eee;
}
.footer__mid .inner {
	margin: 0 auto;
	padding: 5rem 0;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10rem;
}
.footer__mid .left {
	width:81rem
}
.footer__mid .kakao {}
.footer__mid .kakao h3 {
	padding: 0 0 0 6rem;
	width: 41px;
	height: 38px;
	width: 100%;
	line-height: 38px;
	font-weight: bold;
	font-size: 2rem;
	background: url(../../images/img_foooter_kakao.png)no-repeat;
}
.footer__mid .kakao p {
	padding:1rem 0;
	font-size:2rem;
}
.footer__mid .store-search {
	padding:5rem 0 0;
	font-size: 2rem;
}
.footer__mid .store-search button {
	margin: 2rem 0 0;
	width:100%;
	border:1px solid #ccc
}
.footer__mid button {
	height: 6.5rem;
}
.footer__mid nav {
	width:70rem;
}
.footer__mid nav h3 {
	font-size: 1.6rem;
}
.footer__mid .menu {
	display:flex;
	gap:7rem;
}
.footer__mid li {
	width:100%;
}
.footer__mid .dep2 li {
	margin:2rem 0 0;
	line-height: 1.5;
}
.footer__mid .dep2 li a {
	display:block;
	font-size: 2rem;
}
.footer__mid .dep2 li a:hover {
	text-decoration: underline;
}
.footer__mid small {
	padding: 2rem 0 0;
	display: inline-block;
	font-size: 1.4rem;
}
.footer__mid-2 {
	background:#eee;
	border-top: 1px solid #ccc;
	text-align: left;
}
.footer__mid-2 .inner {
	padding: 5rem 0;
	display:flex;
	gap:5rem;
}
.footer__mid-2 .inner p {
	padding: 0 10rem 0 0;
	width:50%;
	color: #777;
	font-size: 1.8rem;
}
.footer__bot .inner {
	padding: 5rem 0;
	display:flex;
	justify-content: space-between;
}
.bot-nav ul {
	display:flex;
}
.bot-nav li {
	position:relative;
	font-size: 1.6rem;
}
.bot-nav li ~ li {
	margin:0 0 0 3rem;
}
.bot-nav li::before {
	content: "";
	position: absolute;
	top: 0;
	right: -1.5rem;
	width: 1px;
	height: 11px;
	background: #ccc;
}
.bot-nav li:last-child::before {
	display:none;
}
.bot-nav a:hover {
	text-decoration: underline;
}

.lang-select-box .lang {
	display:flex;
}
.lang-select-box .lang__img {
	width:4rem;
	height: 4rem;
}
.lang-select-box .lang__nation {
	margin-left:1rem;
	text-decoration: underline;
	font-size: 1.6rem;
}

/* lang pop up | 안아산텍 핍압 */
.lang-popup {
	z-index:1001;
	position:fixed;
	top:0;
	right:0;
	/* width:50rem; */
	height:100%;
	background:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	overflow:hidden;
	transition: all 0.5s;
}

.lang-popup__inner {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 62rem;
	width: 100%;
	padding: 4rem;
}
.lang-popup .title-box {
	position: absolute;
	background: #fff;
	width: 100%;
	height: 12rem;
	top: 0;
	left: 0;
}
.lang-popup h2 {
	font-size: 3rem;
	position: absolute;
	top: 5rem;
	left: 4rem;
}
.lang-popup h3 {
	padding: 3rem 0 1rem;
	font-size: 3rem;
	font-weight: bold;
}
.lang-popup-nav ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.lang-popup-nav li {
	width: 49%;
	margin:1rem 0 0;
}
.lang-popup-nav li a {
	display: flex;
	/* margin: 3px; */
	padding: 1.5rem 1rem;
	align-items: center;
	font-size: 2rem;
	border-radius: 6px;
	border: 1px solid #ccc;
}
.lang-popup-nav li a:hover {
	background: #eee;
}
.lang-popup-nav li a img {
	max-width: 25px;
	max-height: 25px;
	padding: 0 1rem 0 0;
}
.lang-popup .btn--close-pop {
	position: absolute;
	right: 5rem;
	top: 5rem;
	font-size: 2rem;
	width: 3rem;
	height: 3rem;
	background: url(../../images/btn_close.png)no-repeat top /cover;
	cursor: pointer;
}

.dimmed {
	display: none;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0.5;
}
/* lang pop show | 언어선택 클릭하면 팝업 나타남 */
body.active {
	overflow:hidden;
}
.lang-popup.active {
	width:80rem;
	overflow: auto;
}
.dimmed.active {
	display:block;
}



@media screen and (max-width:1600px) {
	.footer .inner {
		width:100%;
		padding: 5rem;
	}
	.footer__top {
		padding: 5rem 0 14rem;
	}
	.footer__top ul {
		flex-wrap: wrap;
	}
	.footer__top li {
		width:45%;
	}
	.footer__mid .inner {
		width:100%;
		flex-direction: column;
		align-items: center;
	}
	.footer__mid .left {
		width:50rem;
	}
	.footer__mid .store-search {
		display:none;
	}
	.footer__mid .kakao {
		text-align: center;
	}
	.footer__mid button {
		margin:0 auto;
	}
	.footer__mid .kakao h3 {
		padding: 0;
    padding-top: 15%;
		width:100%;
    font-size: 3rem;
    background: url(../../images/img_foooter_kakao.png)no-repeat top;
	}
	.footer__mid .kakao p {
		padding:6rem 4rem 2rem;
		font-size: 1.6rem;
	}
	.footer__mid .menu {
		padding:0 0 0 4%;
	}
	.footer__mid .menu li:last-child{
		display: none;
	}
	.footer__mid .dep2 li a {
    font-size: 1.6rem;
	}
	.footer__mid-2 .inner {
		flex-direction: column;
	}
	.footer__mid-2 .inner p {
		width:100%;
	}
	.footer__bot .inner {
		flex-direction: column;
	}
	.bot-nav {
		margin: 0 0 3rem;
	}
}

@media screen and (max-width:1280px) {
	.lang-popup__inner {
		margin-top: 5%;
	}

}

@media screen and (max-width:480px) {
	.footer__mid nav {
    width: 100%;
	}
	.footer__mid-2 .inner p {
		padding:0;
	}
	.bot-nav ul {
		flex-wrap: wrap;
		gap: 20px;
	}
	.bot-nav li ~ li {
		margin: 0;
	}
	.bot-nav li a {
		font-size: 14px;
	}
	.lang-popup__inner {
		height: 80rem;
	}
	.lang-popup-nav ul {
		flex-direction: column;
	}
	.lang-popup-nav li {
		margin: 2rem 0 0;
		width:100%;
	}
	.lang-popup-nav li a {
		font-size: 16px;
		padding: 2rem 2rem;
	}
	.lang-popup.active {
    width: 42rem;
	}

}