@charset "utf-8";

.header {
	z-index:1000;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	background:#fff;
}
.header__inner {
	padding:20px 0 0;
	width:90vw; 
	/* height: 8rem; */
	margin:0 auto;
}
.header__inner.flex {
	justify-content: space-between;
}
.header__h1 {
	display:block;
	width:15rem;
	height:4rem;
	background: url('../../images/h1_logo.svg')no-repeat top / cover;
}

.header__search-bar {
	position: relative;
	margin: 0 2rem;
	width: 80%;
	height: 6rem;
	border-radius: 4rem;
}
.header__search-bar .search {
	padding-left: 4rem;
	height: 100%;
	width: 100%;
	background-color: #eee;
	background: url(../../images/ico_search.png)no-repeat left 10px center / 20px;
	background-color: #eee;
	font-size: 1.8rem;
	border-radius: 30px;
	border: 1px solid #eee;
	cursor:pointer;
}

.header__search-bar .search:focus {
	border:1px solid #ccc;
}
.header__search-bar .btn--close-search {
	display: none;
	top: 50%;
	width: 36px;
	height: 36px;
	left: 94%;
	transform: translateY(-50%);
	border-radius: 50%;
	background-size: 50%;
	background-position: center;
	background-color: #eee;
}
.header__search-bar .search.active {
	width:92%;
}
.header__search-bar .btn--close-search.active {
	display:block;
}

.header__search-bar-menu {
	opacity:0;
	visibility: hidden;
	/* display: none; */
	z-index: 10;
	position: absolute;
	top: 64%;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #fff;
	transition: all 0.3s;
	font-size: 3rem;
	padding: 2% 5%;
}
.header__search-bar-menu.active {
	opacity:1;
	visibility: visible;
	/* display: block; */
}

.header__util li ~ li {
	margin-left: 3rem;
}
.header__util .line {
	position: relative;
	margin-right: 2rem;
}
.header__util .line::after {
	content: "";
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	right: -25px;
	display:inline-block;
	width: 1px;
	height: 20px;
	background: #ccc;
}
.header__util a {
	display: block;
	width: 30px;
	height: 30px;
}
.header__map {
	background: url('../../images/ico_cart.png')no-repeat center / cover;
}
.header__login {
	background: url('../../images/ico_login.png')no-repeat center / cover;
	background-position-y: 1.5px;
	
}

.header__cart {
	background: url('../../images/ico_cart.png')no-repeat center / cover;
}
.gnb {
	padding:20px 0;
	background:#fff;
}
.gnb__depth1 {
	width: 900px;
	margin:0 auto;
	justify-content: space-between;
	gap: 10px;
}
.gnb__depth1 > li > a {
	display:block;
	position:relative;
	font-size: 2rem;
}
.gnb__depth1 > li > a::after {
	content:"";
	position:absolute;
	top:26%;
	/* transform:translateY(-50%); */
	right:-15px;
	width:5px;
	height: 5px;
	border: 1px solid #222;
	border-width: 1px 1px 0px 0;
	transform:rotate(135deg);
}
.depth1__item.active > a {
	color: #222;
	font-weight: bold;
}
.depth1__item.active .gnb__2depth{
	height: auto;
	opacity:1;
}
.gnb__2depth {
	position:absolute;
	top:13.5rem;
	left:0;
	overflow:hidden;
	opacity:0;
	padding:20px 0;
	width:100%;
	height: 0;
	transition:all 0.7s;
	background:#fff;
}
.gnb__2depth a {
	color: #777;
	font-size:1.8rem;
}
.gnb__2depth a:hover {
	text-decoration: underline;
}
.gnb__2depth-menu {
	align-items: flex-start;
	/* justify-content: space-between; */
	justify-content: flex-start;
	gap: 130px;
}
.gnb__2depth-menu .block1 a {
	color: #222;
}
.gnb__2depth-menu ul li:nth-child(1) a {
	color: #222;
}
.gnb__2depth-menu ul li ~ li {
	margin:3rem 0 0;
}
.gnb__2depth-thumb {
	gap: 20px;
	padding: 10rem 0 0;
}
.gnb__2depth-thumb > div {
	width: calc(100% / 4 - 70px);
	font-size: 2rem;
}
.gnb__2depth-thumb > div img {
	display: block;
	width:100%;
	padding:0 0 10px 0;
}

.btn--close {
	z-index:10;
	position:absolute;
	left:90%;
	top:1.5rem;
	font-size: 2rem;
	width: 3rem;
	height:3rem;
	background: url(../../images/btn_close.png)no-repeat top /cover;
	cursor:pointer;
}
.btn--close-menu {
	display: none;
	top: 100%;
}
.btn--close-menu.active {
	display:block;
}

.header__right {
	display: flex;
	align-items: center;
}

/* Mobile Menu */
.hamburger {
	display: none;
	position:relative;
	/* background: red; */
	width: 30px;
	height:20px;
	/* position:absolute;
	right: 0; */
	margin-left: 20px;
}
.hamburger span {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width:100%;
	height: 1px;
	background: #222;
}

.hamburger span:nth-child(1) {top:0}
.hamburger span:nth-child(2) {top:50%}
.hamburger span:nth-child(3) {top:100%}
.hamburger.active span:nth-child(1) {top:0; transform: rotate(45deg); top:50%}
.hamburger.active span:nth-child(2) {top:50%; display: none;}
.hamburger.active span:nth-child(3) {top:100%; transform: rotate(-45deg); top:50%}



.header__util .line {
	margin-right: 0;
}
.header__util .line::after {
	display: none;
}


@media screen and (max-width:1240px) {

	/* Mobile Menu */
	.hamburger {display: block;}
	.gnb {
		height:9vh;
	}
	.gnb__depth1 {
		display: none;
	}
	.header__search-bar {
		top: 56%;
	}

	.header__search-bar {
		z-index: 20;
    position: absolute;
    margin: 0;
    margin-bottom: 20px;
    top: 56%;
    width: 90vw;
    box-sizing: border-box;
	}
	
	.header__search-bar-menu {
    padding: 10rem 5rem;
	}
	.header.--mo .header__search-bar {
		top: 9rem;
	}
	.header.--mo .header__search-bar-menu {
		top: 8%;
	}
	.header.--mo .gnb {
		height: 100vh;
		padding: 14rem 5rem;
	}
	.header.--mo .gnb__depth1 {
		display:flex;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		gap: 5rem;
		flex-direction: column;
		text-align: left;
		align-items: flex-start;
		overflow-y: scroll;
	}
	.header.--mo .gnb__depth1 > li > a {
		font-size: 2.4rem;
	}
	.header.--mo .gnb__depth1 > li > a::after {
    content: "";
    position: absolute;
    top: 26%;
    /* transform: translateY(-50%); */
    right: 7%;
    width: 10px;
    height: 10px;
    border: 1px solid #222;
    border-width: 1px 1px 0px 0;
    transform: rotate(45deg);
	}
	.header.--mo .depth1__item {
		width:100%;
	}
	.header.--mo .gnb__2depth {
		z-index:10;
	}
	.header.--mo .gnb__2depth-menu {
		flex-direction: column;
		width: 90%;
    margin: 0 auto;
		gap:5rem;
		padding-top: 15%;
	}
	.header.--mo .gnb__2depth-thumb {
    gap: 20px;
    padding: 10rem 0 0;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
		margin:0 auto;
	}
	.header.--mo .gnb__2depth-thumb > div {
		width: 100%;
	}
	.header.--mo .depth1__item.active .gnb__2depth {
    height: 100vh !important;
    opacity: 1;
    overflow-y: scroll;
		padding: 0 0 220px;
	}
	.header.--mo .btn--close-menu {
    z-index: 20;
		left: 4%;
    top: 19%;
	}
	.header__inner.flex {
		/* position:relative; */
	}
	.header__inner.flex::before {
		/* display: none; */
		content:"";
		position: absolute;
		top:74px;
		left:0;
		width:100%;
		height: 6rem;
		background: #fff;
		z-index:20;
	}
	
	.header.--mo .header__inner.flex::before {
		display: block;
	}
}
@media screen and (max-width:1240px){
	.hamburger {
		width:20px;
	}
	.header {
		/* height: 16rem; */
	}
	.header__util a {
		width:20px;
		height:20px; 
	}
	.header__search-bar {
		/* margin:0 2rem; */
	}
	.header.--mo .btn--close-menu {
		top:133px;
	}


	.gnb {
    /* padding: 2rem 5rem; */
	}
	.gnb__depth1 {
		width:100%;
	}
	.gnb__2depth-menu {
		gap: 8rem;
	}
	.gnb__2depth-thumb {
    gap: 2rem;
    padding: 3rem 2rem 0;
	}
	.gnb__2depth-thumb > div {
    /* width: calc(100% /4); */
	}

}

@media screen and (max-width:480px) {
	.header__inner.flex::before {
		top: 73px;
		height: 6rem;
	}
	.header__inner.long::before {
		height: 14rem;
	}
}

