 /* Layout */


/* 
========================  
Visual Section
========================  
*/

.visual {
	overflow:hidden;
	position:relative;
	width: 100%;
	height: 100vh;
	font-size: 9rem;
	background: var(--color-key);
}
.visual__logo {
	z-index: 1;
	position: absolute;
	top: 17%;
	left: 50%;
	transform: translateX(-50%);
	width:13rem;
	height:auto;
}
.visual__scroll {
	z-index: 1;
	position: absolute;
	top: 89%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	color: #fff;
	
}
.visual__scroll::after {
	content: "";
	border: 1px solid #fff;
	border-width: 0 0 1px 1px;
	border: 0 0 1px 1px;
	width: 6rem;
	height: 6rem;
	position: absolute;
	top: 110%;
	left: 50%;
	margin-left: -3rem;
	transform: rotate(-45deg);
	transition: all 0.5s;
}
.visual__scroll:hover::after {top: 22px;}
.visual::before {
	z-index:1;
	display: none;
	content: "";
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity:0.5;
}

.visual.dim::before {
	display: block;
}
.visual__content > div {width: 50%;}
.visual__text {
	padding: 0 10rem;
	box-sizing: border-box;
	color: #fff;
	line-height: 1.5;
}
.visual__text p {
	opacity: 0;
	animation: rtlMove 1s forwards;
}
.visual__bn {height: 100vh;}
.visual__bn img {
	display:block;
	opacity: 0;
	object-fit: cover;
	width:100%;
	height:100%;
	animation: rtlMove 1s forwards;
}

.visual__text .text-01 {animation-delay: 1s;}
.visual__text .text-02 {animation-delay: 1.3s;}
.visual__text .text-03 {animation-delay: 1.5s;}

.visual__bn img {
	width: 100%;
	animation-delay: 0.3s;
}

@keyframes rtlMove {
	0% {padding-left: 30px; opacity: 0;}
	100% {padding-left: 0; opacity:1;}
}




/* 
========================  
Video Section 
========================  
*/
/* 공통스타일 */
.fade {
	opacity:0;
	transition: all 0.2s;
	margin-top: -10px;
}
.fadeIn {
	margin-top: 0;
}
.fade1 li {
	/* animation:fade1 1s 1s linear; */
}
.fade1 li.fadeIn {
	margin-top: 0;
}

/* @keyframes fade1 {
	0% {margin-top: -50px; opacity:0;}
	100% {margin-top: 0px; opacity:1}
} */
.fade1 li:nth-child(1) {
	transition-delay: 0.1s;
}
.fade1 li:nth-child(2) {
	transition-delay: 0.2s;
}
.fade1 li:nth-child(3) {
	transition-delay: 0.3s;
}
.fade1 li:nth-child(4) {
	transition-delay: 0.4s;
}
.fade1 li:nth-child(5) {
	transition-delay: 0.5s;
}
.fade1 li:nth-child(6) {
	transition-delay: 0.6s;
}
.fade1 li:nth-child(7) {
	transition-delay: 0.7s;
}
.fade1 li:nth-child(8) {
	transition-delay: 0.8s;
}
.fade1 li:nth-child(9) {
	transition-delay: 0.9s;
}

.fade2 {
	margin-top: 0;
	margin-left: 50px;
	transition-delay: 0.5s;
}
.fade2.fadeIn {
	margin-left: 0;
	transition: all 1s;
}
.fadeIn {
	opacity: 1;
}

.video-section {
	position:relative;
	overflow:hidden;
}
.video-section .inner {
	z-index:20;
	position:relative;
	width:100%;
	background:#fff;
	/* padding: 5rem 10rem; */
}
.video-section .title-box {
	background:#fff;
	color:var(--color-key);
	font-size: 3rem;
}
.video-section .title {
	padding: 5rem 0 0;
	line-height: 1.2;
	/* font-size: 5rem; */
}
.video-section .video {
	/* position: relative; */
	width: 100%;
	height: auto;
	padding-top: 52%;
}
.video-section video {
	position: absolute;
	top:25%;
	left:0;
	width:100%;
	height: 100%;
}
.flag-group {
	display:flex;
	gap:1rem;
}
.flag-group li {
	background: url(../images/flag-elegant-archivists.svg)no-repeat;
	width: 12rem;
	height: 9rem;
}
.flag-group li:nth-child(2) {background-image:url(../images/flag-golf-trenders.svg);} 
.flag-group li:nth-child(3) {background-image:url(../images/flag-lacosteiros.svg);} 
.flag-group li:nth-child(4) {background-image:url(../images/flag-rap-devotee.svg);} 
.flag-group li:nth-child(5) {background-image:url(../images/flag-roland-fnatics.svg);} 
.flag-group li:nth-child(6) {background-image:url(../images/flag-seoul-kr.svg);} 
.flag-group li:nth-child(7) {background-image:url(../images/flag-vintage-collectors.svg);} 
.flag-group li:nth-child(8) {background-image:url(../images/flag-lacoste.svg);} 
/* .video-section .moving-text {
	z-index:1;
	position:absolute;
	top:0;
	right:-50%;
	width:100%;
	height:4.8rem;
	transform:rotate(-90deg) translate(-50%, 0);
	background:#fff;
	font-size: 2rem;
	text-align: center;
} */

/* https://codepen.io/Knovour/pen/boJNPN */
.video-section .moving-text {
	z-index: 20;
	overflow-x: hidden;
	position: relative;
	overflow-y: hidden;
	/* width: 115vw; */
	/* max-width: 100%; */
	width: 100%;
	height: 11rem;
	transform: rotate(-90deg);
	top: -46vw;
	right: -49%;
	display: flex;
	align-items: center;
	font-size: 5rem;
	background: #fff;
	color: var(--color-key);
}
.video-section .moving-text .track {
	position: absolute;
  white-space: nowrap;
  /* will-change: transform; */
  animation: marquee 32s linear infinite;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


/* 
========================  
Section-3 
========================  
*/
.section-3 {
	position: relative;
	overflow:hidden;
	height: 100vh;
	background: var(--color-key);
}
.section-3 .title-box {
	background:var(--color-key);
	color:var(--white);
}
.section-3 .img {
	display: flex;
	height: 100vh;
}
.section-3 .img > div {
	width:50%;
	height: 100%;
}
.section-3 .img img {
	display: block;
	object-fit: cover;
	width:100%;
	height: 100%;
}
.section-3 .btn-group {
	position: absolute;
	bottom:5rem;
	left:50%;
	transform: translateX(-50%);
}


/* 
========================  
Section-4 | store
========================  
*/
.store-section {
	background:var(--color-key)
}
.store-section .inner {
	/* padding: 5rem 0 7rem; */
}
.store-section .title {
	padding: 0 0 2rem;
	margin: 0 0 4rem;
	color: var(--white);
	border-bottom: 1px solid var(--white);
	/* font-size: 6rem; */
}
.store-section .title.fadeIn {
	animation: toRight2 1s forwards;
}
.store-section .store-menu.fadeIn {
	animation: toLeft2 1s forwards;
}
@keyframes toRight2 {
	0% {transform: translateX(-120px);}
	100% {transform: translateX(0px);}
}
@keyframes toLeft2 {
	0% {transform: translateX(120px);}
	100% {transform: translateX(0px);}
}

.store-section .title .ico {
	margin: 0 0 5rem;
	width: 9rem;
	height: 8rem;
	background: url(../images/img_store_tit.png)no-repeat left/contain;
}

.store-menu a {
	display: inline-block;
	padding: 9rem 0 0;
	z-index:10;
	position:relative;
	color: var(--white);
	font-size: 8rem;
}
.store-menu a::before {
	content:"";
	position: absolute;
	bottom:0;
	left:0;
	width:0;
	height:3px;
	background:var(--white);
	transition:all 0.7s;
}
.store-menu a:hover::before {
	width: 100%;
}
.store-menu small {
	display: block;
	padding: 0 0 1rem;
	font-size: 2rem;
}
.store-item {
	position: relative;
}
.store-thumb {
	overflow:hidden;
	height: 0;
	position: absolute;
	top:-10%;
	left:30%;
	width: 75rem;
	transition: all 0.5s;
}
/* .store-item.active .store-thumb{
	overflow: auto;
	overflow-y: hidden;
	height: 50rem;
} */
.store-thumb.active {
	overflow: auto;
	overflow-y: hidden;
	height: 50rem;
}
.store-thumb img {
	width:100%;
}
/* 
.store-section .inner {
	position:relative;
}
.store-thumb {
	position: absolute;
	top: 23%;
	left:5%;
	width: 75rem;
	height: 100%;
}
.store-thumb .thumb {
	overflow:hidden;
	height: 0;
	position: absolute;
	top:-5%;
	left:20%;
	width: 75rem;
	transition: all 0.7s;
}
.store-thumb .thumb img {
	width:100%;
}
.store-thumb.active .thumb{
	overflow: auto;
	overflow-y: hidden;
	height: 100%;
} */


/* .store-thumb {
	position: relative;
}
.store-thumb .thumb {
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 75rem;
	height: 100%;
}
.store-thumb .thumb.active{
	display: block;
}
.store-thumb .thumb img {
	width:100%;
} */


/* 
========================  
Section-5 Meet
========================  
*/
.meet-section {}
.meet-section .title {
	padding:0 0 6rem;
	color: var(--color-key);
}
.meet-section .inner {
	/* margin:0 auto;
	width:1200px; */
}
.meet-section .item {
	position:relative;
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 5rem 0;
	font-size:3.6rem;
	color: var(--color-key);
	text-transform: uppercase;
	border-bottom: 1px solid var(--color-key);
}
.meet-section .item div {
	width: 50%;
	align-items: center;
}
.meet-section .item::after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 28px;
	background: url(../images/bu_arrow_right.png)no-repeat center / contain;
	transition: all 0.3s;
}
.meet-section .item:hover::after {
	right:-5px;
}

.meet-section .left {
	/* padding: 0 9rem 0 0; */
	display: flex;
	text-align: right;
	justify-content: flex-end;
}
.meet-section .left .img {
	order: 1;
	padding: 0 0 0 3rem;
}


.meet-section .right {
	/* padding: 0 0 0 9rem; */
	justify-content: flex-start;
	display: flex;
	text-align: left;
	/* background: url(../images/img_meet_flag_02.svg)no-repeat left; */
}
.meet-section .right .img {
	padding: 0 3rem 0 0;
}

.meet-section .img {
	width: 13rem;
}
/* .meet-section .item-1 {
	border-top: 1px solid var(--color-key);
}
.meet-section .item-2 .left {
	background-image: url(../images/img_meet_flag_03.svg);
}
.meet-section .item-2 .right {
	background-image: url(../images/img_meet_flag_04.svg);
}
.meet-section .item-3 .left {
	background-image: url(../images/img_meet_flag_05.svg);
}
.meet-section .item-3 .right {
	background-image: url(../images/img_meet_flag_06.svg);
}
.meet-section .item-4 .left {
	background-image: url(../images/img_meet_flag_07.svg);
}
.meet-section .item-4 .right {
	background-image: url(../images/img_meet_flag_08.svg);
} */
.meet-section .item b {
	display:block;
	padding:0 0 5px;
}
.meet-section .ico-x {
	margin:0 7rem;
	width: 17px;
	height: 17px;
	background: url(../images/ico_x.png)no-repeat center /contain;
}

/* https://codepen.io/Knovour/pen/boJNPN */
.moving-text {
	overflow-x: hidden;
	position: relative;
	/* width: 115vw; */
	/* max-width: 100%; */
	/* height: 6rem; */
	top: 0;
	right: 0%;
	display: flex;
	align-items: center;
	font-size: 10rem;
	background: #fff;
	color: var(--color-key);
}
.moving-text strong {
	display: inline-block;
	position:relative;
	/* text-decoration: underline; */
}
.moving-text strong::before {
	content: "";
	position:absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: var(--color-key);
}
.moving-text .track {
	position: absolute;
  white-space: nowrap;
  /* will-change: transform; */
  animation: marquee 32s linear infinite;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}



.meet-section .title.fadeIn {
	animation: toBottom 1s forwards;
}
.meet-section .left.fadeIn {
	animation: toRight 1s forwards;
}
.meet-section .right.fadeIn {
	animation: toLeft 1s forwards;
}
@keyframes toBottom {
	0% {transform: translateY(-119px); opacity: 0;}
	100% {transform: translateY(0); opacity:1;}
}
@keyframes toRight {
	0% {transform: translateX(-119px); opacity: 0;}
	100% {transform: translateX(0); opacity:1;}
}
@keyframes toLeft {
	0% {transform: translateX(119px); opacity: 0;}
	100% {transform: translateX(0); opacity:1;}
}




/* 반응형 */
@media screen and (max-width:1240px) {
	section .inner {
		width:100%;
		box-sizing: border-box;
	}
	.visual {
		height:100vh;
		padding-top: 0;
	}
	.visual__content {height:100%;}
	.visual__content > div {width: 100%;}
	.visual__text {
		padding: 14% 17rem 2rem 5rem;
    font-size: 5vw;
	}
	.visual__text {line-height: 1.3;}
	.visual__bn {display:none;}
	.video-section .title {
		/* padding-top:0; */
	}
	.video-section .video {
    height: 380px;
	}
	.meet-section .item {
		font-size: 2.5rem;
	}
	.meet-section .left,
	.meet-section .right 
	{
		flex-direction: column;
		text-align: center;
	}
	.meet-section .left .img,
	.meet-section .right .img
	 {
		padding: 0;
		order:1
	}
	.meet-section .left span,
	.meet-section .right span
	 {
		padding: 3rem 3rem 0;
		order:2
	}

	.store-thumb {width:50rem}
	.moving-text {font-size: 5rem;} 
}

@media screen and (max-width:1280px) {
	.visual__scroll::after {
		width:3rem;
		height:3rem;
		margin-left: -1.5rem;
	}
	.video-section video {
		top:20%;
	}
	.video-section .moving-text {
    top: -47vw;
    right: -48%;
		height:7rem;
    font-size: 3rem;
	}
	.flag-group li {
    width: 7rem;
    height: 6rem;
	}
	.title {
		font-size: 6rem;
	}
}
@media screen and (max-width:800px) {
	.video-section .moving-text {
		top:45vw;
	}
}

@media screen and (max-width:768px) {
	.visual__text {
		padding:14% 9rem 2rem 5rem;
		font-size: 7vw;
	}
	.visual__logo {
    left: 10%;
    transform: translateX(-0%);
	}
	.video-section video {
		width: auto;
		height:100%;
	}
	.video-section .moving-text {
		width: 177%;
    max-width: none;
    top: 50%;
    right: -85%;
    position: absolute;
		font-size: 3rem;
	}
	
	.title {font-size: 5rem;}
	.store-section {overflow: hidden;}
	.store-menu a {
		font-size: 5rem;
	}

	.store-section .title {
		/* font-size: 5rem; */
	}
	.meet-section .item {
		font-size: 1.6rem;
		align-items: baseline;
	}
	.meet-section .img {width: 4rem;}
	.meet-section .left span, 
	.meet-section .right span {
    padding: 2rem 3rem 0;
	}
	.meet-section .ico-x {
		margin: 0 3rem;
		width:13px;
		height:13px;
		position: relative;
    top: 4rem;
	}
	.meet-section .item::after {width: 8px;}
	.section-3 .img > div {
		width:50%;
		/* overflow: hidden; */
	}
	/* .section-3 .img__left img {
		margin-left: -150px;
	}
	.section-3 .img__right img {
		margin-left: -64px;
	}
	.section-3 .img img {
		width:430px;
	} */
 
}

@media screen and (max-width:480px) {
	.visual__scroll::after {
    width: 4rem;
    height: 4rem;
    top: 80%;
    left: 50%;
    margin-left: -2rem;
	}
	.video-section .moving-text {height: 5rem;}
}
