@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {

	box-sizing: border-box;
}
html {
	font-size:62.5%
}
body {
	/* font-size: 1rem; */
	font-family: 'Noto Sans KR', sans-serif;
}

/* Common */
.hide {
	display: block;
	overflow: hidden;
	position:absolute;
	border: 0;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}
.flex {
	display:flex;
	justify-content: center;
	align-items: center;
}

section .inner {
	width: 90%;
	margin: 0 auto;
	padding: 10rem 10rem;
}
.title-box {
	background:#fff;
	color:var(--color-key);
	font-size: 3rem;
}
.title {
	line-height: 1;
	font-size: 9rem;
}

.btn--close {
	position:absolute;
	left:90%;
	top:15px;
	font-size: 20px;
	width: 30px;
	height:30px;
	background: url(../../images/btn_close.png)no-repeat top /cover;
	cursor:pointer;
}


/* 반응형 */
@media screen and (max-width:1600px) {
	html {
		font-size:9px;
	}
	body {
		overflow-x: hidden;
	}
	section .inner {
		padding:5rem
	}
}
@media screen and (max-width:1280px) {
	html {
		font-size:8px;
	}
}
@media screen and (max-width:480px) {
	html {
		font-size:7px;
	}
}