@charset "utf-8";

/* Common */
.hide {
	display: block;
	overflow: hidden;
	position:absolute;
	border: 0;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}
.flex {
	display:flex;
	justify-content: center;
	align-items: center;
}
