@charset "utf-8";



/* Root */
:root {
--color-primary:#4589ff;
--color-primary2:#aeccff;
--color-dark:#000;
--color-grey:#eee;
--color-grey2:#777;
--color-light:#fff;
}

a {
  color: var(--color-dark);
}
.color-primary {
  color: var(--color-primary);
}
.color-light {
  color: var(--color-light);
}
.bg-primary {
  background: var(--color-primary);
  color: var(--color-light);
}
.bg-dark {
  background: var(--color-dark);
}
/* inner */
.inner {
	padding: 16.6rem 2rem;
	max-width: 128rem;
	width: 100%;
	margin: 0 auto;
}
.inner--full {
	padding: 16.6rem 0;
	width:100%;;
}

/* 정렬 */
.align {
  display:flex;
  align-items: center;
  justify-content:space-between;
}
.align-center {
  justify-content: center;
}
/* 텍스트 */
.text-title {
  font-size: 5.6rem;
  text-align: center;
	font-weight: 800;
}
.text-title2 {
  font-size: 3.4rem;
  text-align: center;
  color: var(--color-light);
	line-height:1.5;
	font-weight: 600;
}
.text-subtitle {
	padding-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
	line-height:1;
}
.text-desc {
  font-size: 1.8rem;
  text-align: center;
}
.text-small {
  font-size: 15px;
  text-align: center;
}
/* 레이아웃 */
.header {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 8rem;
}
.header__inner {
  padding:0 5rem;
  height:100%;
}
.header__logo {
	display:block;
	width: 95px;
	height: 25px;
	background: url(../images/sp_pc2.png);
	background-position: -845px -94px;
}
.header__gnb {
	margin-right: 13.6rem;
}
.gnb {
  gap:2rem
}
.gnb__link {
	display:block;
	width:13rem;
	height:4rem;
	font-size:2rem;
	border-radius:3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.gnb__link.active{
	/* padding: 1rem 1.4rem; */
	background: var(--color-primary);
	color: var(--color-light);
}
.gnb__link:hover {
	/* padding: 1rem 1.4rem; */
	border-radius:3rem;
	background: var(--color-primary2);
}
.util__login {
	font-size:2rem;
	font-weight: 800;
}
.util__share {
	margin-left: 2.3rem;
	width: 24px;
	height: 25px;
	background: url(../images/sp_pc2.png);
	background-position: -1254px -123px;
}


/* 컨텐츠 */

.section-visual {
width:100%;
height: 100vh;
background: url(../images/bg_spot.png)no-repeat top / cover;
}
/* 비디오 */
.video-wrap {
max-width: 1200px;
width: 100%;
margin: 0 auto;
}
.video {
width: 100%;
position: relative;
padding-top: 56.25%;
margin: 0 auto;
}
.video iframe {
position:absolute;
top:0;
left:0;
width:100%;
height: 100%;
}
.bg-video {
	padding-top: 5rem;
/* max-width: 120rem;
margin: 0 auto; */
}
.video-play {
	width:100%;
}


.section-story .inner {
	padding-top: 10rem;
	padding-bottom: 0;
}
.section-video .text-title2 {
	padding-bottom: 10rem;
}
.section-video .bg-video {
	padding:15rem 0 10rem;
}
.section-record .rolling-item strong {
	font-size: 2.6rem;
	height: 54px;
	display: block;
}
.section-record .img-motion {
	width: 200px;
	text-align: center;
	margin: 0 auto;
}
.section-record .img-motion img {
	width:100%;
}
.section-record .record {
	padding: 11.3rem 0 7.6rem;
}

.rolling {
	overflow:hidden;
	width:100%;
}
.rolling-list {
	width: 2700px;
	display:flex;
	gap:2rem;
	animation: rolling-ani 20s linear infinite;
}
.rolling-list:hover {
	animation: none;
}
@keyframes rolling-ani {
	0% {transform: translateX(0%);}
	100% {transform: translateX(-100%);}
}
.rolling-item {
	/* display:flex;
	justify-content: center; */
	text-align: center;
	padding:3rem;
	min-width:27.2rem;
	height:27.8rem;
	border: 2px solid var(--color-dark);
	border-radius:15px;
}
/* 첫 번째 배너 리스트가 끝나면 뒤에 바로 두 번째 배너 리스트가 붙도록 설정 */
.rolling-list li:last-child{
	animation-delay: 20s;
}


.newrecord {
	padding: 11.3rem 0 7.6rem;
}
.newrecord .rolling-list {
	background: url(../images/sp_pc2.png)no-repeat;
	display:block;
	width: 5732px;
	height: 91px;
	background-position: 0 0;
	animation-duration: 30s;
}
.newrecord .rolling-list:hover {
	animation: rolling-ani 30s linear infinite;
}
.newrecord .rolling-wrapper.rtl .rolling-list {
	animation: rolling-ani2 40s linear infinite;
}
@keyframes rolling-ani2 {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0%);}
}
.newrecord {
	overflow:hidden;
}
.rolling-wrapper {
	padding: 3rem 0;
	width: max-content;
	display: flex;
	gap: 2rem;
	border-top: 2px solid var(--color-dark);
}
.rolling-wrapper:nth-of-type(3) {
	border-bottom: 2px solid var(--color-dark);
	margin-left: -50%;
}

.list-type1 {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  color: var(--color-dark);
}
.list-type1 li {
	flex: 1;
	padding: 2rem;
	border: 1px solid var(--color-dark);
	border-radius:3rem;
	background-color: var(--color-grey);
}
.list-type1__title {
  font-size:2.4rem;
}
.list-type1__text {
  padding: 2rem 0;
  font-size:2rem;
}
.list-type1__img {
  width:27rem;
  margin:0 auto;
}
.list-type1__img img {
  width:100%;
}
.list-type2 {
  display:flex;
  gap: 2rem;
}
.list-type2 > li {
  flex: 1;
 
}
.list-type2 > li:nth-child(1) {
  max-width: 24rem;
  width:100%;
}
.list-type2 > li:nth-child(2) {
}
.list-type2 .gift {
  height: 29rem;
  border: 2px solid var(--color-dark);
  border-radius:3rem;
  background-color: var(--color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list-type2 .notice {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-type2 .notice p {
  text-align: left;
}
.list-type2 li .img {
  width: 15rem;
  height: 15rem;
  border-radius:20px;
  background: var(--color-light);
}
.list-type2 li .img img {
  width:100%;
}
.list-type3 {
  display: flex;
  gap: 2rem;
  padding:3rem;
  height:10rem;
  border: 2px solid var(--color-dark);
  border-radius:3rem;
  background-color: var(--color-grey);
  color: var(--color-dark);
}
.list-type3 li {
  flex:1;
}
.list-type3 .num {
  display:inline-block;
  margin-right: .5rem;
  width:20px;
  height:20px;
  line-height: 20px;
  text-align: center;
  font-size:13px;
  border: 2px solid var(--color-dark);
  background: var(--color-primary);
  border-radius:100%;
  color:var(--color-light);
}
.gift {
  font-size: 2rem;
  color: var(--color-dark);
}
.gift__con {
  position:relative;
  margin: 4rem 0;
}
.gift__con .label {
  z-index: 10;
  position: absolute;
  top: -31px;
  right: -10px;
  width: 98px;
  height: 63px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: var(--color-primary);
  border: 2px solid var(--color-dark);
  border-radius: 2rem;
  border-bottom-left-radius: 0;
}
.gift__title {
}
.gift__desc {
}


/* 버튼 */
.btn-end {
  width: 30rem;
  height: 6rem;
  margin-top: -49px;
  border-radius: 67px;
  background: var(--color-grey2);
  font-size:2rem;
  box-shadow: 2px 6px 0 var(--color-dark);
  border: 2px solid var(--color-dark);
}